@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap");

body {
  background-color: black;
  font-family: "Oswald", sans-serif;
  color: rgb(238, 238, 35);
  text-align: center;
}
